/*------------ Card Guide ------------*/
.card-guide {
  display:  none !important;
}
@media (min-width: 1200px) {
  .card-guide {
    display:  inline-block !important;
  }
}
/*------------ Card Guide ------------*/



/*------------ Sticky Footer ------------*/
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/*------------ Sticky Footer ------------*/

/*------------ header ------------*/
.header-title {
  margin: 5px 0;
  text-align: center;
}

.header-button {
  margin: 5px 0;
  text-align: center;
}

@media (min-width: 992px) {
  .header-title {
    margin: 5px 0;
    text-align: left;
  }

  .header-button {
    margin: 5px 0;
    text-align: right;
  }
}
/*------------ header ------------*/

/*------------ img-size ------------*/
.h-500 {
  height: 32rem !important;
}

.img-w-100-hm-100 {
  max-height: 100px !important;
  width: 100px !important;
}

.img-w-75-hm-100 {
  max-height: 100px !important;
  width: 75px !important;
}

.img-w-50 {
  width: 50px !important;
}

.img-w-75 {
  width: 75px !important;
}

.img-w-100 {
  width: 100px !important;
}

.img-w-150 {
  width: 150px !important;
}

.img-w-200 {
  width: 200px !important;
}

.img-w-250 {
  width: 250px !important;
}

.img-w-300 {
  width: 300px !important;
}

.img-hm-200 {
  max-height: 200px !important;
}

/*------------ img-size ------------*/

/*------------ scroll to top ------------*/
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(220,53,69, 0.85);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: rgba(220,53,69, 1);
}

.scroll-to-top i {
  font-weight: 800;
}
/*------------ scroll to top ------------*/

/*------------ textarea ------------*/
textarea {
  min-height: 90px;
  max-height: 210px;
}
/*------------ textarea ------------*/

/*------------ footer ------------*/
.footer-copyright {
  margin: 10px 0;
  text-align: left;
}

.footer-sosial-media {
  margin: 10px 0;
  text-align: left;
}

@media (min-width: 992px) {
  .footer-copyright {
    margin: 10px 0;
    text-align: left;
  }

  .footer-sosial-media {
    margin: 10px 0;
    text-align: right;
  }
}
/*------------ footer ------------*/

/*------------ btn login ------------*/
.btn-login {
  background: transparent !important;
  border: 1px solid #DC3545;
  color: #343a40 !important;
}

.btn-login:hover {
  background: #DC3545 !important;
  color: white !important;
}

.btn-login:focus {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.!imo;
}
/*------------ btn login ------------*/
